/* Layout không chỉnh sửa! */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
:root {
  --header-color: #1c1f1f;
  --background-color: #1e1e1e;
  --sidebar-color: #292929;
  --logo-color: #00a550;
  --player-color: #181818;
  --background-font-color: rgb(163, 162, 162);
  --active-background-color: #404040;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}
body {
  font-family: "Nunito", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "nav head"
    "nav main"
    "nav foot";
  grid-template-columns: 1.2fr 7fr;
  grid-template-rows: 10% 85% 5%;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffff;
}
a:hover {
  color: var(--logo-color);
}
header {
  grid-area: head;
  /* background-color: var(--header-color); */
}
.side-bar {
  /* display: grid; */
  grid-area: nav;
  background-color: var(--sidebar-color);
  transform: translateX(0);
}
#logo {
  width: 100%;
  text-align: center;
  height: fit-content;
  color: var(--logo-color);
  margin-top: 10px;
  padding: 10px;
}
.logo_img {
  font-size: 75px;
}
.logo_brand {
  font-size: 2rem;
}
main {
  display: grid;
  grid-area: main;
  background-color: var(--background-color);
  overflow-y: auto;
  overflow-x: hidden;
}
/* Trang chủ */
main.main-page {
  grid-template-areas:
    "carousel"
    "music-list-wrapper"
    "anime-ost"
    "last-song";
  grid-template-rows: 350px 1fr 1fr 1fr;
}
#last-song {
  grid-area: last-song;
  display: none;
  margin-bottom: 100px;
}
#carousel {
  grid-area: carousel;
  margin: 2rem 1rem 1rem 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}
.anime-ost {
  margin: 2rem;
  grid-area: anime-ost;
  /* background-color: tan; */
}
.list-title {
  color: #ffff;
}
.music-list-wrapper {
  grid-area: music-list-wrapper;
  margin: 1rem 10px;
  /* background-color: coral; */
  display: flex;
  flex-direction: column;
}
.music-list + .music-list {
  margin-top: 2rem;
}
.music-list {
  width: 100%;
  height: fit-content;

  /* background-color: tomato; */
}
.center,
.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-column {
  flex-direction: column;
}
.music-card-wrapper {
  max-width: 300px;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-play {
  border: 1px solid;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  font-size: 3rem;
}
.music-card__desc {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.music-card__img {
  overflow: hidden;
  height: 80%;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.music-card-wrapper > img {
  width: 100%;
  height: 90%;
}
.music-card-wrapper:hover img {
  transform: scale(110%);
  transition: all 0.5s;
  cursor: pointer;
}
.music-card-wrapper:hover .overlay {
  z-index: 5;
  cursor: pointer;
}
/* Trang chung: đăng ký, đăng nhập, liên hệ */
main.general {
  height: 100%;
  position: relative;
}

footer {
  grid-area: foot;
  background-color: #181818;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
}

.navBar {
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar__menu {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
.user {
  color: #ffff;
  font-size: 3rem;
  margin-left: 30px;
  position: relative;
}
.user:hover {
  color: var(--logo-color);
  cursor: pointer;
}

.user__dropdown {
  position: absolute;
  right: -29px;
  border: 1px solid;
  height: fit-content;
  width: 100px;
  padding: 5px;
  z-index: 5;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user:hover .user__dropdown {
  display: flex;
}
.feature,
.user-feature {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffff;
}
.feature:hover,
.user-feature:hover {
  color: var(--logo-color);
}
.feature + .feature {
  margin-left: 20px;
}
.search__wrapper {
  width: 150%;
  height: 35px;
  margin-left: 50px;
  border-radius: 15px;
  background-color: #353535;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
#search-box {
  width: 90%;
  height: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  color: #ffff;
  font-size: 1.4rem;
}
#search-box:focus {
  outline: none;
}
.search-button {
  width: fit-content;
  height: 100%;
  text-align: center;
  padding: 9px;
}
.search-button:hover {
  cursor: pointer;
}
.fa-search {
  color: #686868;
  font-size: 15px;
}

/* Layout không chỉnh sửa! */

/* Trang chủ */
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}
#player-zone,
#player-list {
  width: 100%;
  height: 100px;
  background-color: var(--player-color);
  position: absolute;
  bottom: -10px;
  display: none;
}
#player-list {
  height: fit-content;
  max-width: 1024px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#aplayer {
  border-radius: 5px;
  /* color: #ffff; */
  background: none;
}
.aplayer-list-light {
  color: #000;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
  color: #5e5e5e;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-time {
  color: #ffff;
}
.aplayer-played {
  background: rgb(255, 255, 255) !important;
}
#aplayer {
  color: #ffff;
}
.card-img > img {
  padding: 5px;
  height: 100%;
  min-height: 100%;
  border-radius: 10px;
}
.card:hover {
  cursor: pointer;
}
.carousel-item,
.card {
  background-color: var(--background-color);
  border: none;
  height: 100%;
  /* transition: all 0.5s; */
  overflow: hidden;
}
.side-bar__menu {
  height: fit-content;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.menu-feature {
  margin: 10px 0 10px 10px;
  color: var(--background-font-color);
}
.menu-feature__desc {
  margin-left: 5px;
}
.menu-feature.active {
  color: #ffff;
  margin-left: 0;
  padding: 10px;
  border-right: 2px solid var(--logo-color);
  background-color: var(--active-background-color);
  transition: all 0.5s;
}
.mobile {
  display: none;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
  height: 40px;
}
.circle {
  border-radius: 50%;
}

.circle-hover {
  max-width: 280px;
}
.overlay-circle {
  background-color: unset;
}
.circle-hover:hover img {
  transform: scale(80%);
  transition: all 0.2s;
  cursor: pointer;
}
.scale {
  transform: scale(70%);
}
#last-song .fa-heart,
.fa-times {
  margin: 0 5px;
}

/* Trang chủ */

/* Top 100 */
.rank-wrapper {
  margin: 2rem auto;
  width: 90%;
  height: 90%;
  /* background-color: tomato; */
}
.rank-wrapper__title {
  margin: 1rem 0;
}
.table,
.rank-wrapper__title {
  font-size: 2rem;
  color: #fff;
}
.thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* Top 100 */

/* Đăng nhập */
.login-form-wrapper,
.contact-form-wrapper,
.reg-form-wrapper {
  margin: auto;
  width: 30%;
  height: 75%;
  color: #fff;

  /* background-color: tomato; */
}
.btn-primary {
  width: 100px;
  height: 40px;
}
.form-control,
.login-form-wrapper,
.contact-form-wrapper,
.reg-form-wrapper {
  font-size: 1.5rem;
}
.form-group {
  margin: 10px 0;
}
.funny-wrapper {
  position: relative;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: tomato;
  overflow: hidden;
}
.bear {
  position: absolute;
  transform: scale(70%);
  top: -131px;
  left: -300px;
}
/* Đăng nhập */

/* Theo dõi  */
.follow,
.cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}
.cancel {
  margin-top: 10px;
}
.cancel:hover {
  background-color: tomato;
}
.follow-active {
  background-color: var(--logo-color);
}
.fa-user-plus {
  font-size: 1.5rem;
  margin: 2px;
  margin-right: 5px;
}
.artist {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Theo dõi  */

/*fom đăng ký*/

.reg-form-wrapper {
  margin: 0 auto;
}
/* Dịch vụ */

.service_main {
  background-image: url(https://images.unsplash.com/photo-1468164016595-6108e4c60c8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3570&q=80);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main_content {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  height: 200px;
  position: relative;
  top: 35%;
  display: block;
}

.service_list {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.service_list_edit {
  width: 100%;
}

.service_item {
  color: white;
  border-radius: 20px;
  float: left;
  margin: 0 8px 20px;
  width: calc(70% / 3);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid white;
  max-width: 300px;
  backdrop-filter: blur(10px);
}

.service_time {
  margin: 10px;
  font-size: 32px;
}

.service_price {
  font-size: 48px;
}

.vnd {
  font-size: 32px;
}

.register_btn {
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 15px;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 40px;
  border: 1px solid white;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  margin-bottom: 30px;
}

.register_btn:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
}
/* Yêu thích */

.playlist-main {
  height: 100%;
  width: 100%;
  position: relative;
}

.playlist-title {
  color: white;
  height: 100px;
  font-size: 60px;
  line-height: 80px;
  margin-left: 10%;
}

.playlist-content {
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  position: absolute;
  top: 13%;
}

.playlist-item {
  background-color: rgba(0, 0, 0, 0.5);
  height: fit-content;
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid grey;
}

.playlist-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}

.song-name {
  font-size: 20px;
  line-height: 45px;
  margin-left: 50px;
  color: white;
}

.song-artist {
  font-size: 16px;
  line-height: 45px;
  color: grey;
  margin: 0 auto;
}
/* Responsive */
/* mobile  */
@media only screen and (max-width: 739px) {
  .login-form-wrapper,
  .contact-form-wrapper,
  .reg-form-wrapper {
    width: 70%;
  }
  .mobile {
    display: flex;
  }
  .logo_img {
    font-size: 40px;
  }
  .feature {
    display: none;
  }
  body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }
  .side-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 69;
    width: 50%;
    height: 100vh;
    transform: translateX(-400px);
    transition: all 0.6s;
  }
  .search__wrapper {
    width: 130%;
    font-size: 0.5rem;
    margin-left: 20px;
  }
  .navBar__menu {
    margin-right: 20px;
  }
  .user:hover .user__dropdown {
    display: none;
  }
  .line {
    color: #fff;
  }
  .music-card-wrapper:hover .overlay {
    z-index: -5;
  }
  /* Dịch vụ */

  .main_content {
    position: relative;
    display: block;
    height: 120px;
    top: 3%;
    font-size: 22px;
  }

  .service_main {
    display: block;
  }

  .service_list {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    position: relative;
    top: 200px;
  }

  .service_item {
    display: block;
    width: 60%;
  }

  .register_btn {
    margin-bottom: 25px;
  }

  .service_time {
    font-size: 28px;
  }

  .service_price {
    font-size: 44px;
  }

  .vnd {
    font-size: 32px;
  }
  /* Yêu thích */

  .playlist-title {
    color: white;
    height: 100px;
    font-size: 40px;
    line-height: 90px;
    text-align: center;
    margin-left: 0;
  }

  .playlist-content {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    position: absolute;
    top: 14%;
  }

  .song-name {
    font-size: 20px;
    line-height: 45px;
    margin-left: 20px;
    color: white;
  }

  .song-artist {
    font-size: 16px;
    line-height: 45px;
    color: grey;
    margin: 0 auto;
  }
  /* responsive tablet */

  .main_content {
    position: relative;
    display: block;
    top: 7%;
    font-size: 24px;
    overflow: hidden;
  }

  .service_main {
    display: block;
  }

  .service_list {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    position: relative;
    top: 7%;
  }

  .service_item {
    display: block;
    width: 40%;
    min-width: 300px;
  }

  .register_btn {
    margin-bottom: 25px;
  }
  /* Yêu thích */

  .playlist-content {
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    position: absolute;
    top: 10%;
  }
}
/* tablet */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .login-form-wrapper,
  .contact-form-wrapper,
  .reg-form-wrapper {
    width: 70%;
  }
  .scale {
    transform: scale(60%);
  }
  .circle-hover:hover img {
    transform: scale(70%);
  }
  .music-card-wrapper:hover .overlay {
    z-index: -5;
  }
  .logo_img {
    font-size: 50px;
  }
}
/* desktop */
@media only screen and (min-width: 1025px) {
}
/* Responsive */
